body {
    color: #b2967d;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #eee4e1;
    
    }
    h1{
        text-align: center;
    }
    #latest-books{
        display: flex;
        flex-wrap: wrap;
        background-color: #eee4e1;
        justify-content: space-between;
        gap: 20px;
        margin: 10px;
        
    }
    .book {
        color:#6b705c;
        display: flex;
        background-color: #e6beae;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
        width: 200px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
    
    .book img {
        max-width: 100%; 
        max-height: 200px; 
        width: auto; 
       
      }
    
    
    
    .book:hover {
      transform: translateZ(20px); 
    }
    .nav {
       
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: #faedcd;
        height: 100px;
        
    }
    .nav a{
        transition: transform 0.3s ease-in-out;

        text-decoration: none;
    }
    .nav a:hover{
        transform: translateX(10px);
       
    }

    .highlighted {
        font-size: 20px;
        color: #6b705c;
        font-weight: bold;
        text-decoration: underline;
    }